<div class="container jumbotron">
  <div class="row">
    <h1>About Me</h1>
    <hr class="my-4" />
  </div>
  <div class="row">
    <p style="text-align:justify">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, quasi deleniti praesentium nihil ex delectus atque reprehenderit accusamus error, necessitatibus nulla optio tempore earum, molestias voluptatum non molestiae. Eius, labore?
      <br>
      <br>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, eligendi perspiciatis consectetur maxime iste quaerat deleniti odit ipsa porro nisi explicabo fugiat, iure suscipit voluptates optio minus, reprehenderit accusamus voluptate!
    </p>
    <hr class="my-4" />
  </div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary"
      onclick="window.location.href = '#';">GitHub</button>
    <button type="button" class="btn btn-secondary"
      onclick="window.location.href = '#';">Instagram</button>
    <button type="button" class="btn btn-secondary"
      onclick="window.location.href = '#';">Twitter</button>
    <button type="button" class="btn btn-secondary"
      onclick="window.location.href = '#';">YouTube</button>

  </div>

</div>